<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/updated_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RequisitionEntryActivity2"
            android:label="@string/app_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RequisitionEntryFormActivity" />
        </activity>
        <activity
            android:name=".RequisitionEntryFormActivity"
            android:label="@string/app_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_title">

        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".test" />
        <activity android:name=".RequisitionApproveActivity"></activity>
        <activity
            android:name=".LoginActivity2"
            android:label="@string/title_activity_login2" />
        <activity android:name=".RequistionApproveActivity2" />
        <activity android:name=".RequisitionApproveActivity3" />
        <activity android:name=".RequisitionApproveActivity4" />
        <activity android:name=".RequisitionApprovalListActivity"></activity>
        <activity android:name=".RequisitionStatusHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>