<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opus_bd.dostavi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login Activity -->

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_title"
            android:theme="@style/SignInTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->

        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:screenOrientation="portrait" />

        <!-- Requisition Entry -->
        <activity
            android:name=".requisition_entry.RequisitionEntryActivity1"
            android:label="@string/requisition_entry_label"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".requisition_entry.RequisitionEntryActivity2"
            android:label="@string/requisition_entry_label"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- Requisition Approval -->

        <activity
            android:name=".requisition_approval.RequisitionApproveActivity1"
            android:label="@string/requisition_approve_label" />
        <activity
            android:name=".requisition_approval.RequisitionApproveActivity2"
            android:label="@string/requisition_approve_label" />
        <activity
            android:name=".requisition_approval.RequisitionApproveActivity3"
            android:label="@string/requisition_approve_label" />
        <activity
            android:name=".requisition_approval.RequisitionApproveActivity4"
            android:label="@string/requisition_approve_label" />
        <activity
            android:name=".requisition_approval.RequisitionApproveActivity5"
            android:label="@string/requisition_approve_label" />

        <!-- Requisition Status -->

        <activity
            android:name=".requisition_status.RequisitionStatusHome"
            android:label="@string/requisition_status_label" />
        <activity
            android:name=".requisition_status.PrStatusActivity"
            android:label="@string/requisition_status_label" />

        <!-- IOU Approval -->

        <activity android:name=".iou_approval.IOUApprovalActivity" />
        <activity android:name=".iou_approval.IOUApprovalActivity2" />

        <!-- PO Approve -->
        <activity
            android:name=".po_approve.POApproveActivity"
            android:label="@string/po_approval">

        </activity>
    </application>

</manifest>